# models
checkpoints/
*.pt
*.bin
*.safetensors

# notebooks
.ipynb_checkpoints/

# python junk
__pycache__/
*.pyc

# logs
wandb/
runs/

# Data (do not upload large/raw scraped content)
data/raw/
data/processed/

.DS_Store